<!-- <ul class="users">
    <li *ngFor="let user of users">
        <span class="badge">{{user.id}}</span> {{user.name}}
    </li>
</ul> -->
<div *ngIf="!editMode">
    <div><span>{{ 'PAGES.USERS.NAME' | translate }}: </span>{{user.name}}</div>
    <div><span>{{ 'PAGES.USERS.EMAIL' | translate }}: </span>{{user.email}}</div>
</div>
<div *ngIf="editMode">
    <div><span>{{ 'PAGES.USERS.NAME' | translate }}: </span>
        <input type="text" name="name" placeholder="name" [(ngModel)]="user.name">
    </div>
    <div><span>{{ 'PAGES.USERS.EMAIL' | translate }}: </span>
        <input type="text" name="email" placeholder="email" [(ngModel)]="user.email">
    </div>
    <button type="submit" (click)="save()">Save</button>
</div>