<!-- <ul class="users">
    <li *ngFor="let user of users">
        <span class="badge">{{user.id}}</span> {{user.name}}
    </li>
</ul> -->
<div *ngIf="!editMode" class="container view">
    <div class="attribute">
        <span class="attribute-label">{{ 'PAGES.USERS.NAME' | translate }}: </span>
        <span class="attribute-value">{{user.name}}</span>
    </div>
    <div class="attribute">
        <span class="attribute-label">{{ 'PAGES.USERS.EMAIL' | translate }}: </span>
        <span class="attribute-value">{{user.email}}</span>
    </div>
</div>
<div *ngIf="editMode" class="container edit">
    <div class="attribute">
        <span class="attribute-label">{{ 'PAGES.USERS.NAME' | translate }}: </span>
        <input type="text" name="name" placeholder="name" [(ngModel)]="user.name" class="attribute-value">
    </div>
    <div class="attribute">
        <span class="attribute-label">{{ 'PAGES.USERS.EMAIL' | translate }}: </span>
        <input type="text" name="email" placeholder="email" [(ngModel)]="user.email" class="attribute-value">
    </div>
    <div class="btn-container">
        <button type="submit" (click)="save()">Save</button>
    </div>
</div>