<!--The content below is only a placeholder and can be replaced.-->
<header></header>
<header>
    <h1>
        {{ 'PAGES.APP.TITLE' | translate }}
    </h1>
    <div>
        <a (click)="translatePage('en')">EN</a> |
        <a (click)="translatePage('fr')">FR</a>
    </div>
    <nav>
        <a [routerLink]="['/view/']">{{ 'PAGES.APP.VIEW' | translate }}</a> |
        <a [routerLink]="['/edit/']">{{ 'PAGES.APP.EDIT' | translate }}</a>
    </nav>
</header>
<article>
    <section>
        <router-outlet></router-outlet>
    </section>
</article>
<footer>
    <p>{{ 'PAGES.APP.FOOTER' | translate }}</p>
</footer>