<!--The content below is only a placeholder and can be replaced.-->
<header>
    <h1>
        {{ 'PAGES.APP.TITLE' | translate }}
    </h1>
    <div class="translate-links">
        <a href="javascript:void(0);" (click)="translatePage('en')" [class.active]="activeLanguage==='en'">EN</a> |
        <a href="javascript:void(0);" (click)="translatePage('fr')" [class.active]="activeLanguage==='fr'">FR</a>
    </div>
    <nav>
        <div class=" navbar-links ">
            <a [routerLink]="[ '/view/'] " routerLinkActive="active ">{{ 'PAGES.APP.VIEW' | translate }}</a> |
            <a [routerLink]="[ '/edit/'] " routerLinkActive="active ">{{ 'PAGES.APP.EDIT' | translate }}</a>
        </div>
    </nav>
</header>
<article>
    <section>
        <router-outlet></router-outlet>
    </section>
</article>
<footer>
    <div>{{ 'PAGES.APP.FOOTER' | translate }}</div>
</footer>